/* PLACE YOU CUSTOM STYLES IN THIS FILE */

.nk-nav-logo img {
    width: 18rem;
}

.l-titleCenter {
    margin: 0 auto;
}

.nk-btn {
    background: #FA7268;
}

.nk-btn-second {
    background: #333;
}

.h1, 
.fa-heart, 
.display-4 {
    color: #FA7268;
}